h1 {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    /* text-align: center; */
  }

  p {
    color: green;
  }

  .footer{
    color: aqua;
    background-color: burlywood;
    font-size: 100%;
  }

  img.developer{
    width: 100px;
    height: 100px;
  }